.main__contact {
    height: 1240px;
    background-color: white;
}
// -----> Contact title <------
.main__client__description {
    border: 1px solid rgb(255, 255, 255);
    margin: 0;

    .contact__title {
        font-size: 3rem;
        margin: 1rem 0 1rem 3rem;
    }
    .contact__description {
        margin-bottom: 2rem;
        padding-right: 2rem;
        font-size: 1.35rem;
        display: flex;
        justify-content: flex-end;
    }
}
// ------> Contact MAPS <-------
.main__contact__maps {
    display: flex;
    justify-content: center;
    gap: 10rem;

    &__first {
        width: 450px;
        height: 250px;

        background-image: url('../Images/TCL/map/main.png');
        background-size: cover;
        transition: transform 0.4s;
    }
    &__second {
        width: 450px;
        height: 250px;

        background-image: url('../Images/TCL/map/northern.png');
        background-size: cover;
        transition: transform 0.4s;
    }

    &__second:hover, &__first:hover {
        &:hover {
            -webkit-transform:scale(1.75);
            -ms-transform:scale(1.6);
            transform: scale(1.6);
            transition: transform 0.4s;
        }
    }
}
.main__contact__info {
    width: 100%;
    height: 300px;

// ---> Box Office HQ <---
    .offices {
        p{
            margin-left:50px;
            letter-spacing: 1px;
            padding-right: 5px;
        }

        color: black;

        display: flex;
        justify-content: space-around;
        
        &__hq {
            min-width: 15rem;
            
            &__title {
                justify-content: center;
                display: flex;
                align-items: center;
                font-weight: bold;

                p{
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
        }
        &__2branch{
            min-width: 15rem;

            &__title {
                justify-content: center;
                display: flex;
                align-items: center;
                font-weight: bold;

                p {
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
        }
// --------> 2 Contact Boxes Style <---------
        .office {
            color: $secondColor;
            border: 1px solid white;
            background-color: rgb(53, 51, 51);
            padding: 10px;
            border-radius: 0 25px 0 25px;
        }
    }
}
// ------> Contact CoWorkers /  <-------
.main__contact__info__coworkers {
    width: 80%;
    margin: 1rem auto 1rem auto;

    background-color:rgb(53, 51, 51);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;


// -----> Contacts Boxes <-----
    .coBox {
        color: $secondColor;
        border: 1px solid $thirdColor;
        border-radius: 15px 0 15px 0;

        margin:0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 200px;
        height: 200px;

        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        align-content: space-evenly;

        &__title {
            font-weight: bold;
        }
        p {
            font-size: 0.9rem;
            padding: 0;
            margin: 0;

            a {
                color: $secondColor;
                text-decoration: none;


                &:hover {
                    color: $thirdColor;
                }
            }
        }
    }
}