.main__about {
    width: 100%;
    height: 600px;

    display: flex;
}
.main__about__content {
    color: black;
    width: 50%;

    margin-left: 2rem;

    h2 {
        margin-left: 3rem;

        font-size: 2rem;
        font-weight: 700;
    }
    p {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        
        font-size: 2.5rem;
    }

    &__article {
        // width: 80%;

       color: black;
// Margin biger when resolution incresses
        margin:0;
        margin-left: 3rem;
        margin-right: 1rem;
       
        // font-size: 1.3rem;

        p {
            font-size:1.5rem;
        }
    }
}
.main__about__imgs {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__swap {
        height: 95%;
        width: 80%;

        background-image: url('../../../Images/about/about1.jpg');
        background-size: cover;
        border-radius: 15px;
    }
    &__left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &__right {
        color: blue;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}