.main__client {
    height: 42rem;
    
    background-color: rgb(71, 66, 66);
}
.main__client__title {
    display: flex;
    justify-content: center;

    font-size: 4rem;
    margin: 0.5rem 0 3rem 0;
    padding-top: 2rem;
}

.main__client__img {
    display: flex;
    align-items: center;
    justify-content: center;

    gap:5rem;
}
.client__left {
    width: 17rem;
    height: 17rem;

    border:1px solid $thirdColor;

    border-radius: 15px 0 15px 0;

    background-image: url('../Images/client/client1.png');
    background-size: 17rem 17rem;
    background-repeat: no-repeat;
}
.client__middle {
    width: 25rem;
    height: 25rem;

    border:1px solid $thirdColor;
    border-radius: 15px 0 15px 0;

    background-image: url('../Images/client/client2.png');
    background-size: 25rem 25rem;
}
.client__right {
    width: 17rem;
    height: 17rem;

    border:1px solid $thirdColor;
    border-radius: 15px 0 15px 0;
    
    background-image: url('../Images/client/client3.png');
    background-size: 17rem 17rem;
}