:root {
    
}
body {
    background-color: $start;
    margin:0;
    padding: 0;
}
//--> Sticky navigation for desktop version <---
.sticky {
    position:fixed!important;
    top:0;
    width: 99%;
}
//Services - Add after press click
.openFull {
    display: block;
    z-index: 1;

    position: fixed;
    top:20%;
    left:20%;
    width: 60%;
    height: 70%;

    background-color: hsl(0 3.21% 9.74% / 88%);
    color: white;
// How to transition from hide to block divs
    transition-timing-function:ease-in-out;
}
.closeFull {
    display: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
.animations {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}