// Colors

    //Primary
        $start: hsl(120, 2%, 62%);
        $primaryColor: hsl(206,76%,42%);
        $secondColor: hsl(0,0,100);
        $thirdColor: hsl(0,10,100);
        $fourthColor: hsl(48, 5%, 81%);

    //Neutral

//Font Size

