// Colors

    //Primary
        $start: hsl(120, 2%, 62%);
        $primaryColor: hsl(206,76%,42%);
        $secondColor: hsl(0, 0%, 100%);
        $thirdColor: hsla(36, 68%, 51%, 0.997);
        $fourthColor: hsl(48, 5%, 81%);

    //Neutral

//Font Size
    