body {
  background-color: hsl(120, 2%, 62%);
  margin: 0;
  padding: 0;
}

.sitcky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .contnet {
  padding-top: 60px;
}

.header {
  position: relative;
  display: flex;
  height: 100px;
  z-index: 1000;
  background-color: hsl(206, 76%, 42%);
  border: 5px solid hsl(0, 0%, 100%);
}
.header__logo {
  width: 30%;
  height: 95%;
  margin-left: 10px;
  align-content: center;
  border: 1px blue solid;
}
.header__logo img {
  width: 100%;
  height: 80%;
  background-image: url("");
}
.header__nav {
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 100px;
  height: 40px;
  font-size: 1.2rem;
}
.header__nav__desktop {
  display: flex;
  height: 100%;
}
.header__nav__mobile {
  display: none;
}
.header__nav a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.header__nav a:not(:last-child) {
  margin-right: 10px;
}
.header__nav a:hover {
  border-radius: 5px 5px 0 0;
  background-color: white;
  color: hsl(207, 87%, 12%);
}

h1 {
  font-size: 2rem;
  letter-spacing: 2;
}

h2 {
  font-size: 1rem;
}

strong {
  margin-left: 1.5rem;
}

.accredit__img {
  height: 100px;
  width: 100px;
  border: 1px white solid;
}

.accredit__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  border: 1px red solid;
}

.main__home {
  width: 100%;
  height: 750px;
  background-color: gray;
}
.main__home__container {
  width: 40%;
  min-height: 80%;
  align-content: center;
  margin-left: 4rem;
  background-color: rgba(1, 1, 1, 0.3);
}
.main__home__container__text {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.main__home__container__text h1 {
  letter-spacing: 10px;
}
.main__home__container__text p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin-bottom: 2rem;
}
.main__home__container__text button {
  width: 50%;
  height: 3rem;
  background-color: hsl(206, 76%, 42%);
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 0;
  transition: all 0.3s ease-out 0s;
}
.main__home__container__text button:hover {
  background-color: hsl(48, 5%, 81%);
  color: hsl(206, 76%, 42%);
  font-size: large;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 4px white;
  transition: all 0.3s ease-in 0s;
}

.main__about {
  width: 100%;
  height: 600px;
  display: flex;
}

.main__about__content {
  color: black;
  width: 50%;
  margin-left: 2rem;
  border: 1px blue solid;
}
.main__about__content h1 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.main__about__content p {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  font-size: 2.5rem;
}
.main__about__content__article {
  border: 1px red solid;
  color: blue;
  margin: 0;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.main__about__imgs {
  width: 50%;
  height: 100%;
  background-image: url("");
  border: 1px red solid;
}

.main__services {
  color: red;
}

.main__services__description {
  color: blue;
}

.main__services__img {
  background-color: hsla(0, 15%, 28%, 0.731);
}
.main__services__img__items {
  color: lightcoral;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 3rem;
}
.main__services__img .box {
  border: 1px black solid;
  width: 200px;
  height: 300px;
}

.main__services__img__contact {
  background-color: rgba(145, 196, 212, 0.702);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.main__services__img__contact__form input[type=text], .main__services__img__contact__form select, .main__services__img__contact__form textarea {
  width: 100%;
  padding: 5px;
  color: hsl(206, 76%, 42%);
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}
.main__services__img__contact .accredImage {
  width: 200px;
  height: 100px;
}
.main__services__img__contact__footer {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in 0s;
}
.main__services__img__contact__footer:hover {
  color: hsla(30, 71%, 50%, 0.997);
  color: hsl(51, 47%, 38%);
  transition: all 0.5s ease-in 0s;
}/*# sourceMappingURL=styles.css.map */