body {
  background-color: hsl(120, 2%, 62%);
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 99%;
}

.header {
  position: relative;
  display: flex;
  height: 100px;
  z-index: 1000;
  background-color: hsl(206, 76%, 42%);
  border: 5px solid hsl(0, 0%, 100%);
}
.header__logo {
  width: 30%;
  height: 95%;
  margin-left: 10px;
  -webkit-padding-before: 10px;
}
.header__logo img {
  width: 45%;
  height: 80%;
}
.header__nav {
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 100px;
  height: 40px;
  font-size: 1.2rem;
}
.header__nav__desktop {
  display: flex;
  height: 100%;
}
.header__nav__mobile {
  display: none;
}
.header__nav a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.header__nav a:not(:last-child) {
  margin-right: 10px;
}
.header__nav a:hover {
  border-radius: 5px 5px 0 0;
  background-color: white;
  color: hsl(207, 87%, 12%);
}

h1 {
  font-size: 2rem;
  letter-spacing: 2;
}

h2 {
  font-size: 1rem;
}

strong {
  margin-left: 1.5rem;
}

.accredit__img {
  height: 100px;
  width: 100px;
  border: 1px white solid;
}

.accredit__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.changeImg {
  animation: fade-in 300ms ease-in-out forwards;
}

.main__home {
  width: 100%;
  height: 750px;
  background-image: url("../Images/background/background1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main__home__container {
  width: 40%;
  min-height: 80%;
  align-content: center;
  display: -webkit-flex;
  align-items: center;
  margin-left: 4rem;
  background-color: rgba(1, 1, 1, 0.6);
  border: 1px solid hsl(10, 6%, 21%);
}
.main__home__container__text {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.main__home__container__text h1 {
  letter-spacing: 10px;
}
.main__home__container__text p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin-bottom: 2rem;
}
.main__home__container__text button {
  width: 50%;
  height: 3rem;
  background-color: hsl(206, 76%, 42%);
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 0;
  transition: all 0.3s ease-out 0s;
}
.main__home__container__text button:hover {
  background-color: hsl(48, 5%, 81%);
  color: hsl(206, 76%, 42%);
  font-size: large;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 4px white;
  transition: all 0.3s ease-in 0s;
}

.main__about {
  width: 100%;
  height: 600px;
  display: flex;
}

.main__about__content {
  color: black;
  width: 50%;
  margin-left: 2rem;
}
.main__about__content h1 {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 700;
}
.main__about__content p {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  font-size: 2.5rem;
}
.main__about__content__article {
  color: black;
  margin: 0;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.main__about__imgs {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__about__imgs__swap {
  height: 95%;
  width: 80%;
  background-image: url("../Images/TCL/Albrighton/about3.jpg");
  background-size: cover;
}
.main__about__imgs__left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.main__about__imgs__right {
  color: blue;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.main__about__imgs .arrow {
  height: 24px;
  width: 24px;
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.main__about__imgs .arrow:hover {
  border: solid black;
  border-width: 0 5px 5px 0;
}

.main__services {
  color: red;
  background-color: hsl(0, 0%, 100%);
}

.main__services__description {
  color: blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.main__services__description p {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
}
.main__services__description .call__us {
  display: flex;
  justify-content: center;
}
.main__services__description .call__us h2 {
  font-size: 1.8rem;
  color: black;
  display: flex;
  justify-content: center;
}
.main__services__description .call__us button {
  width: 10%;
  position: absolute;
  right: 0;
  margin-right: 5rem;
  background-color: hsl(206, 76%, 42%);
  color: hsl(0, 0%, 100%);
  height: 3.1rem;
  border-radius: 22px;
  box-shadow: none;
  border: 0;
  transition: all 0.3s ease 0s;
}
.main__services__description .call__us button:hover {
  color: black;
  border-radius: 0;
  background-color: hsla(36, 68%, 51%, 0.997);
  transition: all 0.3s ease 0s;
}
.main__services__description__text {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.main__services__img {
  background-color: hsla(0, 15%, 28%, 0.731);
}
.main__services__img__items {
  color: lightcoral;
  background-color: hsl(0, 0%, 100%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  row-gap: 3rem;
}
.main__services__img .box {
  border: 1px black solid;
  background-color: black;
  width: 250px;
  height: 300px;
  position: relative;
  text-align: center;
}
.main__services__img .box .img {
  width: 100%;
  height: 100%;
}
.main__services__img .box .img img {
  height: 100%;
  width: 100%;
  opacity: 0.78;
}
.main__services__img .box .text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__services__img .box .title {
  margin-bottom: 2rem;
  font-weight: bold;
  word-spacing: 5px;
  color: hsl(0, 0%, 100%);
}
.main__services__img .box .description {
  letter-spacing: 2px;
  line-height: 1.2rem;
  opacity: 0;
  transition-duration: 0.3s;
}
.main__services__img .box:hover img {
  opacity: 0.3;
}
.main__services__img .box:hover .description {
  color: hsl(0, 0%, 100%);
  opacity: 1;
  transition-delay: 0.15s;
}

.main__services__img__contact {
  background-color: rgba(145, 196, 212, 0.702);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.main__services__img__contact__form {
  width: 40%;
  margin-top: 1rem;
}
.main__services__img__contact__form input[type=text], .main__services__img__contact__form select, .main__services__img__contact__form textarea {
  width: 100%;
  padding: 5px;
  color: black;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}
.main__services__img__contact__form input[type=email] {
  width: 100%;
  color: black;
  padding: 5px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}
.main__services__img__contact__form input[type=tel] {
  color: black;
  padding: 5px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}
.main__services__img__contact__form input[type=submit] {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.main__services__img__contact__form textarea {
  color: black;
}
.main__services__img__contact__form label {
  margin-left: 10px;
  color: black;
}
.main__services__img__contact .accredImage {
  width: 200px;
  height: 100px;
  background-color: white;
}
.main__services__img__contact .accredImage img {
  width: 100%;
  height: 100%;
  position: inherit;
}
.main__services__img__contact .accredImage:hover {
  box-shadow: 0 5px 35px 0px hsla(0, 0%, 0%, 0.6);
}
.main__services__img__contact__footer {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in 0s;
}
.main__services__img__contact__footer:hover {
  color: hsla(36, 68%, 51%, 0.997);
  color: hsl(51, 47%, 38%);
  transition: all 0.5s ease-in 0s;
}

.main__projects {
  color: hsl(0, 0%, 100%);
}
.main__projects__header {
  font-size: 1.3rem;
  font-weight: bold;
}
.main__projects__header__1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.main__projects__header__2 {
  justify-content: center;
  display: flex;
  margin: 1rem 0 1rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.main__projects__items {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.projects__anchor {
  border: 1px solid white;
  height: 2rem;
  width: 12rem;
  letter-spacing: 0;
  margin: 2rem auto 2rem auto;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  transition: all 280ms ease-in-out;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.projects__anchor:hover {
  letter-spacing: 5px;
  transition: all 280ms ease-in-out;
  color: white;
  background-color: black;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.main__projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  justify-items: center;
}

.item {
  width: 450px;
  height: 550px;
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 0 0 15px 15px;
  background-color: white;
  color: black;
}
.item:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
  font-size: 1rem;
  color: black;
}

.main__projects__items__img img {
  width: 100%;
  height: 75%;
}
.main__projects__items__title {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  margin: 0.5rem 0 0.5rem 1rem;
}
.main__projects__items__description {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1rem;
}

.main__client {
  height: 42rem;
  background-color: rgb(71, 66, 66);
}

.main__client__title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: white;
  margin: 0.5rem 0 3rem 0;
  padding-top: 2rem;
}

.main__client__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.client__left {
  width: 17rem;
  height: 17rem;
  border: 1px solid hsla(36, 68%, 51%, 0.997);
  border-radius: 15px 0 15px 0;
  background-image: url("../Images/client/client1.png");
  background-size: 17rem 17rem;
  background-repeat: no-repeat;
}

.client__middle {
  width: 25rem;
  height: 25rem;
  border: 1px solid hsla(36, 68%, 51%, 0.997);
  border-radius: 15px 0 15px 0;
  background-image: url("../Images/client/client2.png");
  background-size: 25rem 25rem;
}

.client__right {
  width: 17rem;
  height: 17rem;
  border: 1px solid hsla(36, 68%, 51%, 0.997);
  border-radius: 15px 0 15px 0;
  background-image: url("../Images/client/client3.png");
  background-size: 17rem 17rem;
}

.main__contact {
  height: 1260px;
  background-color: white;
}

.main__client__description {
  border: 1px solid rgb(255, 255, 255);
  margin: 0;
}
.main__client__description .contact__title {
  font-size: 3rem;
  margin: 1rem 0 1rem 3rem;
}
.main__client__description .contact__description {
  margin-bottom: 2rem;
  padding-right: 2rem;
  font-size: 1.35rem;
  display: flex;
  justify-content: flex-end;
}

.main__contact__maps {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.main__contact__maps__first {
  width: 450px;
  height: 250px;
  background-image: url("../Images/TCL/map/main.png");
  background-size: cover;
  transition: transform 0.4s;
}
.main__contact__maps__second {
  width: 450px;
  height: 250px;
  background-image: url("../Images/TCL/map/northern.png");
  background-size: cover;
  transition: transform 0.4s;
}
.main__contact__maps__second:hover:hover, .main__contact__maps__first:hover:hover {
  transform: scale(1.6);
  transition: transform 0.4s;
}

.main__contact__info {
  width: 100%;
  height: 300px;
}
.main__contact__info .offices {
  color: black;
  display: flex;
  justify-content: space-around;
}
.main__contact__info .offices p {
  margin-left: 50px;
  letter-spacing: 1px;
  padding-right: 5px;
}
.main__contact__info .offices__hq {
  min-width: 15rem;
}
.main__contact__info .offices__hq__title {
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.main__contact__info .offices__hq__title p {
  margin-left: 10px;
  font-weight: 500;
}
.main__contact__info .offices__2branch {
  min-width: 15rem;
}
.main__contact__info .offices__2branch__title {
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.main__contact__info .offices__2branch__title p {
  margin-left: 10px;
  font-weight: 500;
}
.main__contact__info .offices .office {
  color: hsl(0, 0%, 100%);
  border: 1px solid white;
  background-color: rgb(53, 51, 51);
  padding: 10px;
  border-radius: 0 25px 0 25px;
}

.main__contact__info__coworkers {
  width: 80%;
  margin: 1rem auto 1rem auto;
  background-color: rgb(53, 51, 51);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}
.main__contact__info__coworkers .coBox {
  color: hsl(0, 0%, 100%);
  border: 1px solid hsla(36, 68%, 51%, 0.997);
  border-radius: 15px 0 15px 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  align-content: space-evenly;
}
.main__contact__info__coworkers .coBox__title {
  font-weight: bold;
}
.main__contact__info__coworkers .coBox p {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
.main__contact__info__coworkers .coBox p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.main__contact__info__coworkers .coBox p a:hover {
  color: hsla(36, 68%, 51%, 0.997);
}

.openFull {
  display: block;
  z-index: 1;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 75%;
  background-color: hsla(0, 3.21%, 9.74%, 0.88);
  color: white;
  transition-timing-function: ease-in-out;
}

.closeFull {
  display: none;
  transition: all 1s ease;
}

.animations {
  transition: all 1s ease;
}

.hidden p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.hidden h2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hidden__h2 {
  margin: 0;
  padding: 0;
  width: 90%;
  padding-top: 25px;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: left;
}

.hidden__btn {
  position: absolute;
  top: 27px;
  right: 20px;
}

.serviceHidenList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-right: 2rem;
  text-align: justify;
  font-size: 1.5rem;
}

.hidden__description {
  text-align: left;
  margin: 0;
  font-size: 20px;
}

.hidden__contacts {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.hidden__contacts__emails {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
}
.hidden__contacts a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.hidden__contacts a:hover {
  color: hsla(36, 68%, 51%, 0.997);
}

footer {
  background-color: hsl(206, 76%, 42%);
}

.footer__client {
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(206, 76%, 42%);
}

.footer__client__container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5rem;
}
.footer__client__container__contact {
  border: 1px solid hsla(36, 68%, 51%, 0.997);
  padding: 1rem;
  transition: all 0.3s ease 0s;
}
.footer__client__container__contact a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.footer__client__container__contact .second {
  display: none;
}
.footer__client__container__contact:hover {
  cursor: pointer;
  background-color: hsl(120, 2%, 62%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}
.footer__client__container__contact:hover a {
  color: hsl(206, 76%, 42%);
  content: "??";
}
.footer__client__container__contact:hover .first {
  display: none;
}
.footer__client__container__contact:hover .second {
  display: block;
}

.footer__client__container__TCL {
  font-size: 1.25rem;
  font-weight: bold;
}
.footer__client__container__TCL p {
  font-size: 0.85rem;
  font-weight: 500;
}

.footer__websiteMap {
  text-align: center;
  font-size: 1.2rem;
  height: 100%;
}
.footer__websiteMap p {
  margin-top: 0;
  padding-top: 0;
}
.footer__websiteMap a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.footer__websiteMap a:not(:last-child) {
  margin-right: 10px;
}
.footer__websiteMap a:hover {
  color: hsla(36, 68%, 51%, 0.997);
}

.footer__designer {
  color: hsl(0, 0%, 100%);
}
.footer__designer__container {
  text-align: center;
  font-size: 0.75rem;
}
.footer__designer__container a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.footer__designer__container a:hover {
  cursor: pointer;
  color: hsl(50.6, 100%, 50%);
  filter: drop-shadow(0 0 0.9rem hsl(50.6, 100%, 50%));
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=styles.css.map */