.main__projects {
    color: $secondColor;

    &__header{
        
        font-size: 1.3rem;
        font-weight: bold;
        
        &__1 {
            display: flex;
            justify-content: center;
        }
        &__2 {
            justify-content: center;
            display: flex;
            
            margin:1rem 0 1rem 0;

            font-weight: 500;
        }
    }

    &__items {
            text-decoration: none;
            color: $secondColor;
        }
}
.projects__anchor {

        border: 1px solid white;
        height: 2rem;
        width: 12rem;

        margin: 2rem auto 2rem auto;

        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
}

.main__projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    justify-items: center;

}
.item {
    width:450px;
    height: 550px;
    border: 1px $secondColor solid;
    border-radius: 0 0 15px 15px;


    &:hover {
        background-color: hsl(0,0%,0%,0.2);

        //blur other boxes
        font-size: 1rem;
        color: black;
        // filter: blur(4px);
    }
}
.main__projects__items {
    // background-color: inherit;

// -----> Project Boxes with Images
    &__img{

        img{
            width: 100%;
            height: 75%;
        }
    }
// ----------> Title <-----------
    &__title {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.25rem;
        
        margin: 0.5rem 0 0.5rem 1rem;
    }
// -----> Description <---------
    &__description {
        margin: 0 0.5rem 0 0.5rem;
        font-size: 1rem;
    }
    
}